.sider {
  height: 100%;
  position: relative;
  transition: all 0.2s;
  flex: 0 0 215px;
  max-width: 215px;
  min-width: 215px;
  width: 215px;
  &.collapsed {
    flex: 0 0 80px;
    max-width: 80px;
    min-width: 80px;
    width: 80px;
  }
}
